<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>SE2020</title>

<!-- CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/user-profile.css" />
<link rel="stylesheet" href="/css/user_list.css" />
<!-- JS -->
<script src="/js/bootstrap.min.js"></script>
<body>
	<!-- Navigation -->
	<nav class="main-menu">
		<ul>
			<li class="has-subnav "><a th:href="@{/user_list}"> <i
					class="fa fa-user fa-2x"></i> <span class="nav-text"> User
						Management </span>
			</a></li>
			<li class="has-subnav active"><a th:href="@{/warehouse_list}">
					<i class="fa fa-home fa-2x"></i> <span class="nav-text">
						Warehouse Management </span>
			</a></li>
			<li class="has-subnav "><a th:href="@{/product_list}"> <i
					class="fa fa-list fa-2x"></i> <span class="nav-text">
						Products Management </span>
			</a></li>

		</ul>

		<ul class="logout">
			<li><a th:href="@{/logout}" class="nav-link"> <i
					class="fa fa-power-off fa-2x"></i> <span class="nav-text">
						Logout </span>
			</a></li>
		</ul>
	</nav>
	<!-- end of nav -->

	<br>
	<div class="container">
		<div id="login-row"
			class="row justify-content-center align-items-center">
			<div id="login-column" class="col-md-6">
				<div id="login-box" class="col-md-12">
					<form th:action="@{/edit_ware}" th:object="${warehouse}"
						method="post">
						<input type="hidden" th:field="*{id}" />

						<h3 class="text-left text-info" style="margin-left: 30%">Edit
							Warehouse</h3>
						<br>
						<div class="row">
							<div class="col-md-6">
								<label class="text-info">Name</label>
							</div>
							<div class="col-md-6">
								<input type="text" th:field="*{name}" class="form-control"
									id="id_name" required>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-6">
								<label class="text-info">Location</label>
							</div>
							<div class="col-md-6">
								<select name="location" class="browser-default custom-select"
									th:field="*{location}">
									<option th:each="location : ${locationList}"
										th:value="${location}" th:text="${location}"></option>
								</select>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-2">
								<input type="submit" name="submit"
									class="btn btn-primary btn-md" value="Save">
							</div>
							<div class="col-md-2">
								<a th:href="@{/warehouse_list}" class="btn btn-primary">Back</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>