<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>SE2020</title>

<!-- CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/user-profile.css" />
<link th:href="@{css/warehouse_list.css}" rel="stylesheet" />
<!-- JS -->
<script src="/js/bootstrap.min.js"></script>

</head>
<body>
	<!-- Navigation -->
	<nav class="main-menu">
		<ul>
			<li class="has-subnav active"><a th:href="@{/user_list}"> <i
					class="fa fa-user fa-2x"></i> <span class="nav-text"> User
						Management </span>
			</a></li>
			<li class="has-subnav"><a th:href="@{/warehouse_list}"> <i
					class="fa fa-home fa-2x"></i> <span class="nav-text">
						Warehouse Management </span>
			</a></li>
			<li class="has-subnav"><a th:href="@{/product_list}"> <i
					class="fa fa-list fa-2x"></i> <span class="nav-text">
						Products Management </span>
			</a></li>

		</ul>

		<ul class="logout">
			<li><a th:href="@{/logout}" class="nav-link"> <i
					class="fa fa-power-off fa-2x"></i> <span class="nav-text">
						Logout </span>
			</a></li>
		</ul>
	</nav>
	<!-- end of nav -->


	<!-- Page Content -->
	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-4">
				<h3>Product List</h3>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-5">
				<form th:action="@{/filter_product}" th:object="${product}"
					method="post">
					<div class="row">
						<div class="col-md-3">
							<input type="text" th:field="*{name}" id="id_name"
								class="form-control" />
						</div>
						<div class="col-md-3">
							<select name="wareId" class="browser-default custom-select"
								th:field="*{wareId}">
								<option th:each="ware : ${wlist}" th:value="${ware.id}"
									th:text="${ware.name}"></option>
							</select>
						</div>
						<div class="col-md-3">
							<select name="category" class="browser-default custom-select"
								th:field="*{catagory}">
								<option th:each="category : ${categorylist}"
									th:value="${category}" th:text="${category}"></option>
							</select>
						</div>
						<div class="col-md-3">
							<input type="submit" name="submit" class="btn btn-primary btn-md"
								value="Search">
						</div>


					</div>
				</form>
			</div>
			<div class="col-md-1">
				<a th:href="@{/create_product}" class="btn btn-primary btn-md">New</a>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Category</th>
						<th scope="col">Price</th>
						<th scope="col">Qty</th>
						<th scope="col">Warehouse</th>
						<th scope="col">Create Date</th>
						<th scope="col">Modified Date</th>
						<th scope="col"></th>
						<th scope="col"></th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="product:${productList}">
						<td th:text="${product.name}"></td>
						<td th:text="${product.catagory}"></td>
						<td th:text="${product.price}"></td>
						<td th:text="${product.quantity}"></td>
						<td th:text="${product.wareName}"></td>
						<td th:text="${#dates.format(product.createDate, 'dd/MM/yyyy')}"></td>
						<td th:text="${#dates.format(product.modifiedDate, 'dd/MM/yyyy')}"></td>
						<td><a th:href="@{/edit_product/{id}(id=${product.id})}"
							class="btn btn-primary">Edit</a></td>
						<td><a th:href="@{/delete_product/{id}(id=${product.id})}"
							class="btn btn-danger">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>