<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>SE2020</title>

<!-- CSS -->
<link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{css/user_list.css}" rel="stylesheet" />
<link th:href="@{css/user_register.css}" rel="stylesheet" />
<!-- JS -->
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="alert" th:if="${message}!=null">
		<span class="closebtn"
			onclick="this.parentElement.style.display='none';">&times;</span> <strong>Successful
			!</strong> User is successfully save.
	</div>
	<!-- nav slide bar -->
	<nav class="main-menu">
		<ul>
			<li class="has-subnav active"><a th:href="@{/user_list}"> <i
					class="fa fa-user fa-2x"></i> <span class="nav-text"> User
						Management </span>
			</a></li>
			<li class="has-subnav"><a th:href="@{/warehouse_list}"> <i
					class="fa fa-home fa-2x"></i> <span class="nav-text">
						Warehouse Management </span>
			</a></li>
			<li class="has-subnav"><a th:href="@{/product_list}"> <i
					class="fa fa-list fa-2x"></i> <span class="nav-text">
						Products Management </span>
			</a></li>

		</ul>

		<ul class="logout">
			<li><a th:href="@{/logout}" class="nav-link"> <i
					class="fa fa-power-off fa-2x"></i> <span class="nav-text">
						Logout </span>
			</a></li>
		</ul>
	</nav>
	<!-- end of slide bar -->


	<div id="login-row" style="margin-top: 15px"
		class="row justify-content-center align-items-center">
		<div id="login-column" class="col-md-5">
			<div id="login-box" class="col-md-12">
				<form th:action="@{/create_user}" th:object="${user}" method="post">
					<h5 style="text-align: center; margin-top: 12px">User Register
						Form</h5>
					<br>
					<div class="row">
						<div class="col-md-5">
							<label class="text-info">User Name</label>
						</div>
						<div class="col-md-7">
							<input type="text" th:field="*{name}" class="form-control"
								id="id_name" required>
						</div>
					</div>

					<div class="row" style="margin-top: 17px">
						<div class="col-md-5">
							<label class="text-info">User Email</label>
						</div>
						<div class="col-md-7">
							<input type="email" th:field="*{email}" class="form-control"
								id="id_email" required>
						</div>
					</div>
					<div class="row" style="margin-top: 17px">
						<div class="col-md-5">
							<label class="text-info">Password</label>
						</div>
						<div class="col-md-7">
							<input type="password" th:field="*{password}"
								class="form-control" id="id_password" required>
						</div>
					</div>
					<div class="row" style="margin-top: 17px">
						<div class="col-md-5">
							<label class="text-info">Date Of Birth</label>
						</div>
						<div class="col-md-7">
							<input type="text" th:field="*{dob}" class="form-control dob"
								data-date-format="dd/MM/yyyy" id="id_dob">
						</div>
					</div>
					<div class="row" style="margin-top: 17px">
						<div class="col-md-5">
							<label class="text-info">Phone No.</label>
						</div>
						<div class="col-md-7">
							<input type="number" th:field="*{phone}" class="form-control"
								id="id_phone" required>
						</div>
					</div>
					<div class="row" style="margin-top: 17px">
						<div class="col-md-5">
							<label class="text-info">NRC.</label>
						</div>
						<div class="col-md-7">
							<input type="text" th:field="*{nrc}" class="form-control"
								id="id_nrc" required>
						</div>
					</div>
					<div class="row" style="margin-top: 17px">
						<div class="col-md-5">
							<label class="text-info">Address</label>
						</div>
						<div class="col-md-7">
							<textarea th:field="*{address}" id="id_address"
								class="md-textarea form-control"></textarea>
						</div>
					</div>
					<div class="row" style="margin-top: 17px">
						<div class="col-md-5">
							<label class="text-info">Account Type</label>
						</div>
						<div class="col-md-7">
							<select name="accountType" class="browser-default custom-select"
								th:field="*{accountType}">
								<option th:each="accType : ${accountType}" th:value="${accType}"
									th:text="${accType}"></option>
							</select>
						</div>
					</div>
					<div class="row" style="margin-top: 17px; margin-bottom: 17px">
						<div class="col-md-3"></div>
							<div class="col-md-3">
								<input type="submit" name="submit" style="width: 100%"
									class="btn btn-primary btn-md" value="Save">
							</div>
							<div class="col-md-3">
								<a th:href="@{/user_list}" class="btn btn-primary" style="width: 100%">Back</a>
							</div>
					</div>
				</form>
			</div>
		</div>
	</div>


</body>
</html>