<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<link th:href="@{css/user_list.css}" rel="stylesheet" />

</head>
<body>
	<div class="area"></div>
	<nav class="main-menu">
		<ul>
			<li class="has-subnav active"><a th:href="@{/user_list}"> <i
					class="fa fa-user fa-2x"></i> <span class="nav-text"> User
						Management </span>
			</a></li>
			<li class="has-subnav"><a th:href="@{/warehouse_list}"> <i
					class="fa fa-home fa-2x"></i> <span class="nav-text">
						Warehouse Management </span>
			</a></li>
			<li class="has-subnav"><a href="#"> <i
					class="fa fa-list fa-2x"></i> <span class="nav-text">
						Products Management </span>
			</a></li>

		</ul>

		<ul class="logout">
			<li><a th:href="@{/logout}" class="nav-link"> <i
					class="fa fa-power-off fa-2x"></i> <span class="nav-text">
						Logout </span>
			</a></li>
		</ul>
	</nav>

	<h2 style="text-align: center;">User Management</h2>
	<div class="container" style="margin-left: 27%">
		<div class="row">
			<table class="table" border="1">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Email</th>
						<th scope="col">Phone</th>
						<th scope="col">Role</th>
						<th scope="col">Birthday</th>
						<th scope="col">Create Date</th>
						<th scope="col">Modified Date</th>
						<th scope="col"></th>
						<th scope="col"></th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="user:${users}">
						<td th:text="${user.name}"></td>
						<td th:text="${user.email}"></td>
						<td th:text="${user.phone}"></td>
						<td th:text="${user.accountType}"></td>
						<td th:text="${#dates.format(user.dob, 'dd/MM/yyyy')}"></td>
						<td th:text="${#dates.format(user.createDate, 'dd/MM/yyyy')}"></td>
						<td th:text="${#dates.format(user.modifiedDate, 'dd/MM/yyyy')}"></td>
						<td><a th:href="@{/edit_user/{id}(id=${user.id})}"
							class="btn btn-primary">Edit</a></td>
						<td><a th:href="@{/delete_user/{id}(id=${user.id})}"
							class="btn btn-danger">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>
















